---
import CardImageBlock from "./CardImageBlock.astro";

const {title, image, list} = Astro.props;
---
<section class="cardCategory">
    <CardImageBlock image={image} infoBlock={true} rounded={true} overlay={true} aspectRatio="aspect-video sm:aspect-[3/2]">
        <h3 set:html={title} class="cardCategory-title"></h3>
    </CardImageBlock>
    <ul class="cardCategory-list">
        {
        list.map(item => (
        <li class="cardCategory-item">
            <a href={item.href} set:html={item.label} class="cardCategory-link"></a>
        </li>
        ))
        }
    </ul>
</section>
