---
import CardImageBlock from "./CardImageBlock.astro";

const {
    clientName,
    projectName,
    date,
    dateValue,
    projectIndustry,
    projectType,
    image,
    href,
} = Astro.props;
---

<article class="cardProject">
    <a
        href={href}
        class="cardProject-wrapper"
    >
        <CardImageBlock
            image={image}
            alt={projectName}
            infoBlock={true}
            date={date}
            dateValue={dateValue}
            aspectRatio="aspect-[4/3]"
            border={true}
        />
        <div>
            <div class="cardProject-header">
                <h3 set:html={clientName} class="cardProject-client" />
                <p set:html={projectName} class="cardProject-projectName" />
            </div>
            <ul
                class="cardProject-tags"
            >
                {
                    [projectIndustry, projectType].map((item) => (
                        <li set:html={item} class="" />
                    ))
                }
            </ul>
        </div>
    </a>
</article>
