---
import CardImageBlock from "./CardImageBlock.astro";

const { title, description, tags, date, dateValue, image, href, tagsHref } = Astro.props;
---
<article class="cardArticle">
    <div class="cardArticle-content">
        <h3 set:html={title} class="cardArticle-title" />
        <p set:html={description} class="cardArticle-introText" />
        <a
            href={href}
            set:html="Читать"
            class="cardArticle-link"
        />
    </div>
    <CardImageBlock
        image={image}
        alt={title}
        infoBlock={true}
        date={date}
        dateValue={dateValue}
        tags={tags}
        tagsHref={tagsHref}
        aspectRatio="aspect-[3/2]"
        border={true}
        rounded={true}
        overlay={true}
        class="flex-1"
    />
</article>
