---
const {
    image,
    alt,
    infoBlock,
    date,
    dateValue,
    tags,
    tagsSeparator: tagsSeparator="slash",
    tagsDarker,
    tagsHref,
    aspectRatio,
    rounded,
    border,
    overlay,
    brightnessClass,
    class: extraClasses = "",
} = Astro.props;

const tagsSeparatorClass = `cardImageBlock-tag--separator--${tagsSeparator}`
// const brightnessClass = brightness ? `brightness-${brightness}` : "";
const tagsDarkerClass = tagsDarker === true ? "cardImageBlock-tag--darker" : "";
---

<div
    class={`cardImageBlock ${rounded ? "rounded-generic" : "rounded-sm"} ${aspectRatio ? aspectRatio : "aspect-[3/2]"} ${border ? "border border-surface-4" : ""} ${extraClasses}`}
>
    {
        infoBlock ? (
            <div
                class={`cardImageBlock-content ${overlay ? "bg-linear-180 from-black/0 to-black/50" : ""}`}
            >
                <slot />
                <footer>
                    {date ? (
                        <time
                            datetime={dateValue}
                            set:html={date}
                            class="cardImageBlock-date"
                        />
                    ) : (
                        ""
                    )}
                    {tags ? (
                        <ul class="cardImageBlock-tagList">
                            {tags.map((tag) => (
                                <li class={"cardImageBlock-tag " + `${tagsDarkerClass} ${tagsSeparatorClass}`}
                                    ><a
                                        href={tagsHref ? tagsHref: "#"}
                                        set:html={tag}
                                        class="cardImageBlock-tagLink"
                                /></li>
                            ))}
                        </ul>
                    ) : (
                        ""
                    )}
                </footer>
            </div>
        ) : (
            ""
        )
    }
    <img
        src={image}
        alt={alt}
        class={"cardImageBlock-image " + `${brightnessClass ? brightnessClass : ""}`}
    />
</div>
