---
import CardImageBlock from "./CardImageBlock.astro";

const { href, title, description, image, price } = Astro.props;
---

<article class="cardSolution">
    <a
        href={href}
        class="cardSolution-wrapper"
    >
        <CardImageBlock image={image} alt={title} rounded={true} />
        <h3
            class="cardSolution-title"
        >
            {title}
        </h3>
        <p class="cardSolution-description">
            {description}
        </p>
        <p class="cardSolution-price">
            <span>Стоимость: </span>
            <span class="cardSolution-priceValue">
                от {price} сум
            </span>
        </p>
    </a>
</article>
