---
// const {tabs} = Astro.props;
const tabs = {
    description: {
        name: "description",
        label: "Описание",
        attrs: {'data-opened': ''},
    },
    files: {
        name: "files",
        label: "Файлы для скачивания",
        attrs: "",
    },
};
---

<section class="equipDescription">
    <div class="equipDescription-tabs">
        {
            Object.values(tabs).map((tab) => (
                <button
                    set:html={tab.label}
                    data-tabsContainer-toggle
                    data-targetId={tab.name}
                    {...tab.attrs}
                    class="equipDescription-tab"
                />
            ))
        }
    </div>
    <div
        class="equipDescription-content"
    >
        <section id={tabs.description.name} class="hidden data-opened:block" {...tabs.description.attrs}>
            <slot name="description" />
        </section>
        <section id={tabs.files.name} class="hidden data-opened:block" {...tabs.files.attrs}>
            <slot name="files" />
        </section>
    </div>
</section>
