---
import Icon from "./Icon.astro";

import pages from "../data/pages.json";

const menu = [
    { label: pages.about.label, href: pages.about.href },
    { label: "Партнёры", href: pages.textPage.href },
    { label: "Карьера", href: pages.textPage.href },
    { label: pages.blog.label, href: pages.blog.href },
    { label: pages.contacts.label, href: pages.contacts.href },
];

const socialMedia = [
    { name: "telegram", href: "https://t.me/your_channel", label: "Telegram" },
    {
        name: "instagram",
        href: "https://instagram.com/your_page",
        label: "Instagram",
    },
    {
        name: "facebook",
        href: "https://facebook.com/your_page",
        label: "Facebook",
    },
];
---

<div
    class="w-full h-topMenu bg-surface-3 hidden xl:flex justify-center items-center"
>
    <div
        class="w-full lg:container px-4 xl:px-8 flex justify-between items-center"
    >
        <ul class="flex gap-3 lg:gap-6 flex-row items-baseline">
            {
                menu.map((item) => (
                    <li>
                        <a
                            href={item.href}
                            class="text-base/[100%] text-emph-medium hover:underline active:text-emph-high"
                        >
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
        <ul class="flex gap-2 flex-row items-center">
            {
                socialMedia.map((item) => (
                    <li>
                        <a
                            href={item.href}
                            class="text-emph-low hover:text-accent-green active:text-accent-green-dark"
                            title={item.label}
                            aria-label={item.label}
                        >
                            <Icon name={item.name} class="size-8" />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
